@model IEnumerable<GenericRepoNeetu.Models.Student>

@{
    ViewData["Title"] = "Index";
}
@Html.Raw(TempData["insert"])
@Html.Raw(TempData["update"])
@Html.Raw(TempData["delete"])

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sid" onclick="return confirm('Are you Sure you want to Delete(Y/N)?;')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
